{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="background: red;">{% block leftCol %}{% endblock %}</div>
            <div class="col-sm-4" style="background: orange;">{% block centerCol %}{% endblock %}</div>
            <div class="col-sm-4" style="background: blue;">{% block rightCol %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}